*.la
*.lo
vowpalwabbit/stamp-*
Makefile
config.status
test/*.predict
*.log
*.o
*.a
t_*
bin
vw
.*
vw.1
*.cache
*.tgz
test/*.tmp
test/models
.libs
.deps
autom4te.cache/
vowpalwabbit/active_interactor
vowpalwabbit/vw
cluster/spanning_tree