Makefile.in
cluster/Makefile.in
cluster/Makefile
acinclude.d/libtool.m4
acinclude.d/ltoptions.m4
acinclude.d/ltsugar.m4
acinclude.d/ltversion.m4
acinclude.d/lt~obsolete.m4
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
vowpalwabbit/Makefile.in
CMakeFiles
CMakeCache.txt
CTestCostData.txt
CTestTestfile.cmake
cmake_install.cmake
config.h
*.la
*.lo
vowpalwabbit/stamp-*
config.status
test/*.predict
test/*.cmp
*.log
*.o
*.a
t_*
bin
vw
.*
!.pipelines
vw.1
*.cache
*.tgz
test/*.tmp
test/models
test/topk.model
.libs
.deps
autom4te.cache/
vowpalwabbit/active_interactor
vowpalwabbit/vw
cluster/spanning_tree
*.d
*.prev
library/ezexample_predict
library/ezexample_train
library/library_example
library/recommend
library/gd_mf_weights
library/test_search
library/search_generate
test/RunTests.last.times
*.dSYM
*~
*.pc
*.pyc
.DS_Store

# build folders
**/x64
**/obj
**/Debug
**/Release
**/dll
**/ipch
**/target

# VS files
*.opensdf
*.suo
*.sdf
*.vcxproj.user
*.csproj.user
*.so
demo/mnist/infimnist
demo/ocr/letter.*
demo/ocr/run.*
**/TestResults

# IntelliJ
*.idea
*.iml
# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
!**/packages/repositories.config

# QT
VW.config
VW.creator
VW.creator.user
VW.files
VW.includes

# Python packaging
python/.cache/**
python/.eggs/**
python/.tox/**
python/build/**
python/dist/**
python/src/**
python/vowpalwabbit.egg-info/**
python/.coverage
python/docs/build

/COPYING
/README
/compile
/cs/Serializer/Visitors/VowpalWabbitNativeVisitorExt.cs
/cs/Serializer/VowpalWabbitDefaultMarshallerExt.cs
/cs/unittest/RunTests.cs
vowpalwabbit/vw.VC.VC.opendb
vowpalwabbit/vw.VC.db
/cs/cs/Serializer/VowpalWabbitDefaultMarshallerExt.cs
/python/pylibvw.pyd
/python/pylibvw.cp35-win_amd64.pyd
reinforcement_learning/ds.VC.VC.opendb
reinforcement_learning/ds.VC.db
reinforcement_learning/rl.VC.VC.opendb
reinforcement_learning/rl.VC.db
index.html
packages-microsoft-prod.deb
reinforcement_learning/unit_test/rlclient-test.out
cs/azure_service/azure_service.ccproj.user

build
vowpalwabbit/0021.model
vowpalwabbit/0022.predict
vowpalwabbit/bs.prreg.predict
vowpalwabbit/bs.reg.model
vowpalwabbit/bs.reg.predict
vowpalwabbit/bs.vote.model
vowpalwabbit/bs.vote.predict
vowpalwabbit/cb_adf_crash.model
vowpalwabbit/cb_adf_dr.predict
vowpalwabbit/cbe_adf_cover_dr256.predict
vowpalwabbit/cbe_adf_epsilon.predict
vowpalwabbit/ccb_test.predict
vowpalwabbit/cs_test.ldf.csoaa.predict
vowpalwabbit/cs_test.ldf.wap.predict
vowpalwabbit/multilabel_ldf.predict
vowpalwabbit/cb_adf_rank.predict
vowpalwabbit/csoaa_ldf_probabilities.predict
vowpalwabbit/library_train.w
test/warm_cb_lambda_zeroone.stderr
test/active_cover.stderr
test/active-simulation.t24.stderr
test/argmax_data.stderr
test/audit.stdout
test/audit2.stdout
test/bootstrap_and_binary.stderr
test/bootstrap_and_oaa.stderr
test/bs.prreg.stderr
test/bs.prvote.stderr
test/bs.reg.stderr
test/bs.vote.stderr
test/cb_dm.reg
test/cbe_adf_cover_dr256.json.stderr
test/cbify_bag.stderr
test/cbify_cover.stderr
test/cbify_epsilon_adf.stderr
test/cbify_epsilon_cs_adf.stderr
test/cbify_first.stderr
test/cbify_ldf_regcbopt.stderr
test/cbify_regcb.stderr
test/cbify_regcbopt.stderr
test/ccb_test.stderr
test/classweight_multiclass.stderr
test/classweight_recall_tree.stderr
test/classweight.stderr
test/confidence.preds
test/hash_seed5.model
test/initial_weight.stdout
test/labeled-unlabeled-mix.stderr
test/lda-2pass-hang.stderr
test/marginal_model
test/mwt.model
test/rcv1_cb_eval.stderr
test/rcv1_multiclass.stderr
test/RunTests.out
test/search_dep_parser_arceager.stderr
test/search_dep_parser_cost_to_go.stderr
test/search_dep_parser_one_learner.stderr
test/search_dep_parser.stderr
test/search_er.stderr
test/search_multiclass.stderr
test/search_small.stderr
test/search_small2.stderr
test/search_wsj.stderr
test/search_wsj2.dat.stderr
test/sequence_data.ctg.train.stderr
test/sequence_data.ldf.train.stderr
test/sequence_data.nonldf.train.stderr
test/sequencespan_data.nonldf-bilou.test.stderr
test/sequencespan_data.nonldf-bilou.train.stderr
test/sequencespan_data.nonldf.train.stderr
test/test-137.lenient-diff
test/test-149.lenient-diff
test/test-177.lenient-diff
test/test-185.lenient-diff
test/test-199.lenient-diff
test/topk-rec.stderr
test/warm_cb_cs.stderr
test/warm_cb_cyc.stderr
test/warm_cb_no_int_upd.stderr
test/warm_cb_no_ws_upd.stderr
test/warm_cb_simbandit.stderr
test/warm_cb.stderr
test/wiki1K.stderr
