*.a
*.cache
*.dSYM
*.l[ao]
*.log
*.o
*.prev
*.tgz
*~
.deps/
.dirstamp
.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/m4/
/missing
/stamp-h?
t_*

COPYING
README
autom4te.cache/
bin
cluster/Makefile
cluster/spanning_tree
config.status
library/ezexample_predict
library/ezexample_train
library/gd_mf_weights
library/library_example
library/recommend
library/test_search
python/*.pyc
python/Makefile
test/*.predict
test/*.tmp
test/RunTests.last.times
test/models
test/topk.model
vowpalwabbit/active_interactor
vowpalwabbit/config.h
vowpalwabbit/config.h.in~
vowpalwabbit/stamp-*
vowpalwabbit/vw

# build folders
**/x64
**/obj
**/Debug
**/Release
**/dll
**/ipch
**/target

# VS files
*.opensdf
*.suo
*.sdf
*.vcxproj.user
*.so
demo/mnist/infimnist
demo/ocr/letter.*
demo/ocr/run.*

# IntelliJ
*.idea
*.iml
