language: cpp
compiler:
  - gcc
addons:
  apt:
    sources:
      - george-edison55-precise-backports # cmake 3.2.3 / doxygen 1.8.3
    packages:
      - cmake
      - cmake-data
before_install:
  - sudo add-apt-repository --remove "ppa:george-edison55/precise-backports"
  - sudo apt-get update -qq
  - sudo apt-get install -qq libboost-all-dev
  - sudo apt-get install maven
  #### begin cpprest
  - sudo apt-get install g++ git make zlib1g-dev libboost-all-dev libssl-dev cmake
  - git clone https://github.com/Microsoft/cpprestsdk.git casablanca
  - cd casablanca/Release
  - mkdir build
  - cd build
  - cmake ..
  - make
  - sudo make install
  - cd ../../../
  - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib
  #### end cpprest
  - sudo pip install cpp-coveralls wheel
  # use miniconda for python package testing
  - wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda create -q -n test-python27 python=2.7 nomkl numpy scipy scikit-learn
script:
  - make all
  - make python
  - mvn clean test -f java/pom.xml
  - make test
  - make rl_clientlib_test
  - cd test
  - ./test_race_condition.sh
  - cd ..
  - make test_gcov --always-make
  - cd python
  - source activate test-python27
  - pip install pytest readme_renderer
  - python setup.py check -mrs
  - python setup.py install
  - py.test tests
  - source deactivate
  - cd ..
after_success:
  - coveralls --exclude lib --exclude tests --gcov-options '\-lp'
