include *.txt *.in CMakeSettings.json LICENSE
include python/README.rst python/*.txt python/*.bat
recursive-include python *
recursive-include python/vowpalwabbit *
recursive-include cluster *
recursive-include cmake *
recursive-include library *
recursive-include utl *
recursive-include ext_libs *
recursive-include vowpalwabbit *
recursive-include explore *
recursive-include python/bin python/*.dll
global-exclude *.o *.exe *.pyc
recursive-exclude vowpalwabbit/.nuget *
recursive-exclude ext_libs/boost_math/doc *
recursive-exclude ext_libs/boost_math/test *
recursive-exclude vowpalwabbit/.nuget *
