<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.63.0.0" targetFramework="native" />
  <package id="boost_program_options-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_python-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_thread-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="boost_unit_test_framework-vc140" version="1.63.0.0" targetFramework="native" />
  <package id="python2" version="2.7.13" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.static.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>