<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.70.0.0" targetFramework="native" />
  <package id="boost_program_options-vc141" version="1.70.0.0" targetFramework="native" />
  <package id="zlib-msvc-x64" version="1.2.11.8900" targetFramework="native" />
  <package id="zlib-msvc-x86" version="1.2.11.8900" targetFramework="native" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="native" developmentDependency="true" />
</packages>