<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_filesystem-vc120" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_program_options-vc120" version="1.58.0.0" targetFramework="Native" />
  <package id="VisualLeakDetector" version="2.5.0.0" targetFramework="Native" />
  <package id="zlib" version="1.2.8.7" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.8.7" targetFramework="Native" />
</packages>