<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SDL 7.0 Recommended Native Rules" Description="This ruleset contains all the security checks that are recommended for SDL 7.0. Some rules are part of the compiler. For other rules, you need to install the native rules for SDL from codebox." ToolsVersion="11.0">
    <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
        <Rule Id="C6001" Action="Warning" />
        <Rule Id="C6031" Action="Warning" />
        <Rule Id="C6063" Action="Warning" />
        <Rule Id="C6064" Action="Warning" />
        <Rule Id="C6066" Action="Warning" />
        <Rule Id="C6101" Action="Warning" />
        <Rule Id="C6217" Action="Warning" />
        <Rule Id="C6220" Action="Warning" />
        <Rule Id="C6225" Action="Warning" />
        <Rule Id="C6226" Action="Warning" />
        <Rule Id="C6235" Action="Warning" />
        <Rule Id="C6236" Action="Warning" />
        <Rule Id="C6237" Action="Warning" />
        <Rule Id="C6259" Action="Warning" />
        <Rule Id="C6269" Action="Warning" />
        <Rule Id="C6278" Action="Warning" />
        <Rule Id="C6280" Action="Warning" />
        <Rule Id="C6281" Action="Warning" />
        <Rule Id="C6282" Action="Warning" />
        <Rule Id="C6284" Action="Warning" />
        <Rule Id="C6285" Action="Warning" />
        <Rule Id="C6286" Action="Warning" />
        <Rule Id="C6289" Action="Warning" />
        <Rule Id="C6290" Action="Warning" />
        <Rule Id="C6292" Action="Warning" />
        <Rule Id="C6294" Action="Warning" />
        <Rule Id="C6297" Action="Warning" />
        <Rule Id="C6298" Action="Warning" />
        <Rule Id="C6299" Action="Warning" />
        <Rule Id="C6302" Action="Warning" />
        <Rule Id="C6303" Action="Warning" />
        <Rule Id="C6308" Action="Warning" />
        <Rule Id="C6312" Action="Warning" />
        <Rule Id="C6314" Action="Warning" />
        <Rule Id="C6318" Action="Warning" />
        <Rule Id="C6319" Action="Warning" />
        <Rule Id="C6320" Action="Warning" />
        <Rule Id="C6328" Action="Warning" />
        <Rule Id="C6336" Action="Warning" />
        <Rule Id="C6384" Action="Warning" />
        <Rule Id="C6386" Action="Warning" />
        <Rule Id="C6388" Action="Warning" />
        <Rule Id="C6500" Action="Warning" />
        <Rule Id="C6503" Action="Warning" />
        <Rule Id="C6508" Action="Warning" />
        <Rule Id="C6511" Action="Warning" />
        <Rule Id="C6513" Action="Warning" />
        <Rule Id="C6514" Action="Warning" />
        <Rule Id="C6516" Action="Warning" />
        <Rule Id="C6517" Action="Warning" />
        <Rule Id="C6540" Action="Warning" />
        <Rule Id="C6551" Action="Warning" />
        <Rule Id="C26000" Action="Warning" />
        <Rule Id="C26006" Action="Warning" />
        <Rule Id="C26007" Action="Warning" />
        <Rule Id="C26014" Action="Warning" />
        <Rule Id="C26015" Action="Warning" />
        <Rule Id="C26016" Action="Warning" />
        <Rule Id="C26030" Action="Warning" />
        <Rule Id="C26031" Action="Warning" />
        <Rule Id="C26053" Action="Warning" />
        <Rule Id="C28023" Action="Warning" />
        <Rule Id="C28193" Action="Warning" />
        <Rule Id="C28250" Action="Warning" />
        <Rule Id="C28278" Action="Warning" />
        <Rule Id="C28301" Action="Warning" />
        <Rule Id="C33004" Action="Warning" />
        <Rule Id="C33006" Action="Warning" />
        <Rule Id="C33088" Action="Warning" />
        <Rule Id="C6029" Action="Error" />
        <Rule Id="C6053" Action="Error" />
        <Rule Id="C6059" Action="Error" />
        <Rule Id="C6067" Action="Error" />
        <Rule Id="C6200" Action="Error" />
        <Rule Id="C6201" Action="Error" />
        <Rule Id="C6214" Action="Error" />
        <Rule Id="C6215" Action="Error" />
        <Rule Id="C6216" Action="Error" />
        <Rule Id="C6230" Action="Error" />
        <Rule Id="C6248" Action="Error" />
        <Rule Id="C6260" Action="Error" />
        <Rule Id="C6276" Action="Error" />
        <Rule Id="C6277" Action="Error" />
        <Rule Id="C6279" Action="Error" />
        <Rule Id="C6293" Action="Error" />
        <Rule Id="C6305" Action="Error" />
        <Rule Id="C6306" Action="Error" />
        <Rule Id="C6317" Action="Error" />
        <Rule Id="C6324" Action="Error" />
        <Rule Id="C6334" Action="Error" />
        <Rule Id="C6383" Action="Error" />
        <Rule Id="C6504" Action="Error" />
        <Rule Id="C6505" Action="Error" />
        <Rule Id="C6506" Action="Error" />
        <Rule Id="C6509" Action="Error" />
        <Rule Id="C6510" Action="Error" />
        <Rule Id="C6515" Action="Error" />
        <Rule Id="C6518" Action="Error" />
        <Rule Id="C28208" Action="Error" />
        <Rule Id="C28218" Action="Error" />
        <Rule Id="C28220" Action="Error" />
        <Rule Id="C28222" Action="Error" />
        <Rule Id="C28230" Action="Error" />
        <Rule Id="C28241" Action="Error" />
        <Rule Id="C28243" Action="Error" />
        <Rule Id="C28285" Action="Error" />
        <Rule Id="C28290" Action="Error" />
        <Rule Id="C28309" Action="Error" />
        <Rule Id="C33001" Action="Error" />
        <Rule Id="C33005" Action="Error" />
        <Rule Id="C33010" Action="Error" />
        <Rule Id="C33020" Action="Error" />
        <Rule Id="C33087" Action="Error" />
        <Rule Id="C33089" Action="Error" />
        <Rule Id="C33090" Action="Warning" />
        <Rule Id="C33091" Action="Error" />
        <Rule Id="C33092" Action="Error" />
        <Rule Id="C33093" Action="Error" />
        <Rule Id="C33095" Action="Error" />
        <Rule Id="C33096" Action="Error" />
        <Rule Id="C33097" Action="Error" />
        <Rule Id="C33098" Action="Error" />
        <Rule Id="C33099" Action="Error" />
    </Rules>
</RuleSet>
