<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4" version="4.6.4" targetFramework="net46" developmentDependency="true" />
  <package id="Antlr4.CodeGenerator" version="4.6.4" targetFramework="net46" developmentDependency="true" />
  <package id="Antlr4.Runtime" version="4.6.4" targetFramework="net46" />
  <package id="Clarius.TransformOnBuild" version="1.1.12" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.ApplicationInsights" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net46" />
  <package id="Microsoft.Azure.ServiceBus.EventProcessorHost" version="2.2.8" targetFramework="net46" />
  <package id="Microsoft.Data.Edm" version="5.8.1" targetFramework="net46" />
  <package id="Microsoft.Data.OData" version="5.8.1" targetFramework="net46" />
  <package id="Microsoft.Data.Services.Client" version="5.8.1" targetFramework="net46" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net46" />
  <package id="morelinq" version="1.4.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net46" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net46" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net46" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net46" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net46" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net46" />
  <package id="System.Spatial" version="5.8.1" targetFramework="net46" />
  <package id="WindowsAzure.ServiceBus" version="3.4.3" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="7.2.1" targetFramework="net45" />
</packages>