name: Linux / C++ - VW Slim

on:
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  check:
    container:
      image: vowpalwabbit/ubuntu1804-build:latest
    runs-on: ubuntu-latest
    steps:
      # v1 must be used because newer versions require a node.js version that will not run on this old image.
      - uses: actions/checkout@v1
        with:
          submodules: recursive

      - name: Install dependencies
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y xxd

      - name: Configure VW Slim
        shell: bash
        run: |
          rm -rf build
          cmake -S . -B build -G Ninja \
              -DBUILD_TESTING=On \
              -DVW_FEAT_FLATBUFFERS=Off \
              -DRAPIDJSON_SYS_DEP=Off \
              -DFMT_SYS_DEP=Off \
              -DSPDLOG_SYS_DEP=Off \
              -DVW_ZLIB_SYS_DEP=Off \
              -DVW_BOOST_MATH_SYS_DEP=Off

      - name: Build VW and VW Slim
        shell: bash
        run: cmake --build build --target vw_cli_bin vw_slim vw_slim_test

      - name: Test VW Slim
        shell: bash
        working-directory: build
        run: ctest --output-on-failure --no-tests=error --tests-regex "VowpalWabbitSlim|ExploreSlim|CommandLineOptionsSlim" --parallel 2

      - name: Generate test data with new VW executable
        shell: bash
        working-directory: vowpalwabbit/slim/test/data/
        run: ./generate-data.sh ../../../../build/vowpalwabbit/cli/vw

      - name: Build VW Slim again
        shell: bash
        run: cmake --build build --target vw_slim vw_slim_test

      - name: Test VW Slim again
        shell: bash
        working-directory: build
        run: ctest --output-on-failure --no-tests=error --tests-regex "VowpalWabbitSlim|ExploreSlim|CommandLineOptionsSlim" --parallel 2
