name: MacOS / C++

on:
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  build_macos:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [macos-14]
        build_type: [Debug, Release]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install dependencies
        run: brew install cmake boost flatbuffers ninja
      - name: Configure
        run: cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DWARNINGS=Off -DVW_BUILD_VW_C_WRAPPER=Off -DBUILD_TESTING=On -DBUILD_EXPERIMENTAL_BINDING=On -DVW_FEAT_CSV=On -DVW_FEAT_CB_GRAPH_FEEDBACK=On -DVW_INSTALL=Off -DSTD_INV_SQRT=ON
      - name: Build
        run: cmake --build build --target all
      - name: Unit tests
        working-directory: build
        run: |
          # Run unit tests
          ctest --output-on-failure --no-tests=error --label-regex VWTestList --parallel 2
      - name: Test
        run: |
          # Run integration tests
          # Skip test 111 and cbzo tests (282, 284, 285, 286) on all macos-14 builds due to floating-point precision issues
          SKIP_TESTS="--skip_test 111 282 284 285 286"
          python3 test/run_tests.py --fuzzy_compare --exit_first_fail --epsilon 0.001 --ignore_dirty $SKIP_TESTS
          python3 test/run_tests.py --fuzzy_compare --exit_first_fail --epsilon 0.001 --ignore_dirty --extra_options=--onethread $SKIP_TESTS
          python3 test/run_tests.py --ignore_dirty --test_spec test/slow.vwtest.json --timeout 180
