name: Windows / C++ - CMake only

on:
  # only run on explicit user request, since this build is duplicated by the vcpkg builds
  workflow_dispatch
  # push:
  #   branches:
  #     - master
  #     - 'releases/**'
  # pull_request:
  #   branches:
  #     - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        build_config: ["Debug", "Release"]
        os: ["windows-2019", "windows-2022"]
    runs-on: ${{ matrix.os }}
    env:
      CMAKE_BUILD_DIR: ${{ github.workspace }}/vw/build
      SOURCE_DIR: ${{ github.workspace }}/vw
      VCPKG_ROOT: ${{ github.workspace }}/vw/ext_libs/vcpkg
      VCPKG_REF: 25b458671af03578e6a34edd8f0d1ac85e084df4

    steps:
      - uses: actions/checkout@v6
        with:
          path: 'vw'
          submodules: recursive
      - name: Restore vcpkg and build artifacts
        uses: actions/cache@v4
        with:
          path: |
            ${{ env.VCPKG_ROOT }}/installed/
            ${{ env.VCPKG_ROOT }}
            !${{ env.VCPKG_ROOT }}/buildtrees
            !${{ env.VCPKG_ROOT }}/packages
            !${{ env.VCPKG_ROOT }}/downloads
          key: |
            ${{ env.VCPKG_REF }}-${{ matrix.os }}-vcpkg-cache-invalidate-1
      - uses: ilammy/msvc-dev-cmd@v1
      - name: Vcpkg install
        run: |
          $env:VCPKG_ROOT = "${{ github.workspace }}/vw/ext_libs/vcpkg"
          echo "VCPKG_ROOT=$env:VCPKG_ROOT" >> $env:GITHUB_ENV
          & "$env:VCPKG_ROOT\bootstrap-vcpkg.bat"
          & "$env:VCPKG_ROOT\vcpkg.exe" --triplet x64-windows install zlib flatbuffers
      - name: Generate project files
        run: |
          cmake -S "${{ env.SOURCE_DIR }}" -B "${{ env.CMAKE_BUILD_DIR }}" -A "x64" -DVCPKG_MANIFEST_MODE=OFF -DCMAKE_TOOLCHAIN_FILE="${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake" -DVW_FEAT_FLATBUFFERS=On -DVW_FEAT_CSV=On -DVW_FEAT_CB_GRAPH_FEEDBACK=On -Dvw_BUILD_NET_FRAMEWORK=On
      - name: Build project
        run: |
          cmake --build "${{ env.CMAKE_BUILD_DIR }}" --config ${{ matrix.build_config }} --verbose
      - name: Run tests
        working-directory: ${{ env.CMAKE_BUILD_DIR }}
        run: ctest --output-on-failure --no-tests=error --label-regex VWTestList --build-config ${{ matrix.build_config }}
