name: MacOS / Python

on:
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: macos-10.15
    strategy:
      matrix:
        config:
        - { version: 3.6, include_dir_name: python3.6m/}
        - { version: 3.7, include_dir_name: python3.7m/}
        - { version: 3.8, include_dir_name: python3.8/}
        - { version: 3.9, include_dir_name: python3.9/}
        - { version: 3.10, include_dir_name: python3.10/}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.config.version }}
      - name: Build wheel
        shell: bash -l {0}
        run: |
          conda info
          conda install python=${{ matrix.config.version }} wheel zlib boost py-boost flatbuffers
          pip wheel . -w wheel_output/ --global-option --cmake-options="-DSTATIC_LINK_VW_JAVA=On;-DPython_INCLUDE_DIR=\"$CONDA_PREFIX/include/${{ matrix.config.include_dir_name }}\"" --verbose
      - name: Upload built wheel
        uses: actions/upload-artifact@v1
        with:
          name: wheel_${{ matrix.config.version }}
          path: wheel_output/
  test:
    needs: build
    runs-on: macos-10.15
    strategy:
      matrix:
        config:
        - { version: 3.6, include_dir_name: python3.6m/}
        - { version: 3.7, include_dir_name: python3.7m/}
        - { version: 3.8, include_dir_name: python3.8/}
        - { version: 3.9, include_dir_name: python3.9/}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.config.version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.config.version }}
      - name: Download wheel
        uses: actions/download-artifact@v1
        with:
          name: wheel_${{ matrix.config.version }}
      - name: Test wheel
        shell: bash
        run: |
          export wheel_files=(wheel_${{ matrix.config.version }}/*)
          export wheel_file="${wheel_files[0]}"
          echo Installing ${wheel_file}...
          pip install -r requirements.txt
          pip install pytest
          pip install ${wheel_file}
          python -m pytest ./python/tests/
          python ./python/tests/run_doctest.py
