name: Python typecheck

on:
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    container:
      image: vowpalwabbit/manylinux2010-build:latest
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.config.experimental }}
    strategy:
      matrix:
        config:
        - { version: 3.8, base_path: /opt/python/cp38-cp38/, include_dir_name: python3.8/, experimental: false }
    steps:
      # v1 must be used because newer versions require a node.js version that will not run on this old image.
      - uses: actions/checkout@v1
      - name: Build + check
        shell: bash
        run: |
          ${{ matrix.config.base_path }}bin/python setup.py install
          ${{ matrix.config.base_path }}bin/pip install -r requirements.txt
          ${{ matrix.config.base_path }}bin/pip install pytype
          ${{ matrix.config.base_path }}bin/python -m pytype ./python/vowpalwabbit/ --verbosity=2
