name: Upload Code Coverage
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  Coverage:
    container:
      image: vowpalwabbit/ubuntu1604-build:0.6.0
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Apt update
        shell: bash
        run: sudo apt update
      - name: Install curl
        shell: bash
        run: sudo apt install -y curl
      - name: Build with coverage C++
        shell: bash
        run: ./.scripts/linux/build-with-coverage.sh
      - name: Test with coverage C++
        shell: bash
        run: ./.scripts/linux/test-with-coverage.sh
      - name: Upload to codecov.io
        shell: bash
        run: bash <(curl -s https://codecov.io/bash) -Z
