name: Linux / Valgrind

on:
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - '*'

jobs:
  check_valgrind:
    strategy:
      matrix:
        container: ["vowpalwabbit/ubuntu1804-build:latest", "vowpalwabbit/ubuntu2004-build:latest"]
    container:
      image: ${{ matrix.container }}
    runs-on: ubuntu-latest
    steps:
      - run: |
          apt update
          apt install git
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            valgrind_related_changes:
              - '.github/workflows/valgrind.yml'
              - '.scripts/**'
              - 'cluster/**'
              - 'cmake/**'
              - 'explore/**'
              - 'ext_libs/**'
              - 'test/**'
              - 'vowpalwabbit/**'
      - name: Build C++ VW binary
        if: steps.filter.outputs.valgrind_related_changes == 'true'
        run: ./.scripts/linux/build-minimal.sh Release
      - name: Run unit tests with Valgrind
        if: steps.filter.outputs.valgrind_related_changes == 'true'
        run: ./.scripts/linux/unit-tests-valgrind.sh
      - name: Run test suite with Valgrind
        if: steps.filter.outputs.valgrind_related_changes == 'true'
        run: ./.scripts/linux/test-valgrind-run_tests.sh
