name: Vcpkg build

on:
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - '*'

env:
  VCPKG_DEFAULT_BINARY_CACHE: ${{github.workspace}}/vcpkg_binary_cache

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  job:
    name: ${{ matrix.os }}-${{ matrix.preset }}-${{ github.workflow }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15-intel, windows-latest]
        preset: [vcpkg-debug, vcpkg-release]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0
      - name: Apply zlib fdopen patch
        if: ${{ startsWith(matrix.os, 'macos') }}
        shell: bash
        run: patch ext_libs/zlib/zutil.h ext_libs/zlib_fdopen_macos.patch
      - uses: ilammy/msvc-dev-cmd@v1
      - uses: lukka/get-cmake@latest
      - name: Install build dependencies
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: |
          sudo apt-get update || true
          sudo apt-get install -y ninja-build autoconf automake autoconf-archive
      - name: Update vcpkg
        run: |
          cd ${{ github.workspace }}
          git submodule update --init --remote ext_libs/vcpkg
      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: '${{ github.workspace }}/ext_libs/vcpkg'
      - uses: lukka/run-cmake@v10
        env:
          VCPKG_ROOT: ${{github.workspace}}/ext_libs/vcpkg
        with:
          cmakeListsTxtPath: "${{ github.workspace }}/CMakeLists.txt"
          configurePreset: "${{ matrix.preset }}"
          buildPreset: "${{ matrix.preset }}"
          testPreset: "${{ matrix.preset }}"
